.heading{
  padding: 30px 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: bold;
  color: lawngreen;
  background-color: dimgrey;
  margin-bottom: 20px;
}
